body {
  font-family: iransansx !important;
  direction: rtl;
  margin: 0;
  overflow-x: hidden !important;
  width: 100% !important;
  padding: 0;
}

* {
  box-sizing: border-box;
  direction: rtl;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.row .col {
  float: right !important;
}

.right {
  float: left !important;
}

img {
  max-width: 100%;
  height: auto;
}

.mainView {
  width: 85vw;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1024px) {
  .mainView {
    width: 99vw;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  text-align: right;
  width: 100%;
  padding-right: 15px;
}

input {
  display: block;
  padding: 10px 20px;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url] {
  border: none;
  border-radius: 45px;
  font-size: 14px;
  width: 100%;
  direction: rtl !important;
  margin: 0 !important;
  height: 2.5rem !important;
}
input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
input[type=submit] {
  border: none;
  font-weight: 500;
  padding: 0 25px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  font-size: 14px;
}
input:focus {
  outline: none;
}

textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  resize: none;
  border-radius: 15px;
  border: none;
  font-size: 14px;
}
textarea:focus {
  outline: none;
}

@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Heavy.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Thin.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-UltraLight.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Light.woff2");
  font-weight: 350;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-DemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Black.woff2");
  font-weight: 900;
}
.archiveTestsParent {
  min-height: 100vh;
}
.archiveTestsParent .headingArchiveTests {
  border-bottom: 1px solid #9e9e9e;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.archiveTestsParent .headingArchiveTests h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}
.archiveTestsParent .searchResult {
  margin-top: 20px;
}
.archiveTestsParent .categoriesCardsParent {
  padding: 40px 0px;
}
.archiveTestsParent .categoriesCardsParent .swiper-wrapper {
  padding: 15px 0px;
}
.archiveTestsParent .categoriesCardsParent .swiper-wrapper a.categoriesCard {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px 0px;
}
.archiveTestsParent .liveSearchSectionParent {
  position: relative;
  border: 1px solid #000;
  padding: 8px;
  width: 70%;
  margin: auto;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .archiveTestsParent .liveSearchSectionParent {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .archiveTestsParent .liveSearchSectionParent {
    width: 100% !important;
  }
}
.archiveTestsParent .liveSearchSectionParent .iconSearchParent {
  position: absolute;
  border-left: 1px solid #000;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.archiveTestsParent .liveSearchSectionParent input.input-field {
  position: relative;
  width: 94%;
  left: 0;
  right: 50px;
  border-bottom: none;
  font-family: iransansx !important;
}
.archiveTestsParent .liveSearchSectionParent input.input-field:active {
  border-bottom: none;
}

.testsCategorySections {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 10px;
}
@media screen and (max-width: 480px) {
  .testsCategorySections {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}
@media screen and (max-width: 768px) {
  .testsCategorySections {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0px;
  }
}
.testsCategorySections .row .card {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.testsCategorySections .row .card-image .linkBtnTestCardArchive {
  background-color: #2e31a6 !important;
  left: 24px !important;
  right: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testsCategorySections .row .card-image .imageTestCardArchive {
  overflow: hidden;
  min-height: 200px;
  max-height: 200px;
  height: 200px;
}
.testsCategorySections .row .card-image .imageTestCardArchive img {
  border-radius: 8px 8px 0 0;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.testsCategorySections .row .card-content .titleTestCardArchive {
  font-weight: 500;
  margin-top: 10px;
}
.testsCategorySections .row .card-content .explainTestCardArchive {
  text-align: justify;
}
.testsCategorySections .row .cardsMetaBoxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testsCategorySections .row .cardsMetaBoxs .numberOfQuestions, .testsCategorySections .row .cardsMetaBoxs .starRatings {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  align-items: flex-start;
  gap: 3px;
  padding: 0px 24px 10px 0px;
}
.testsCategorySections .row .cardsMetaBoxs .starRatings {
  padding: 0px 0px 10px 24px;
}
.testsCategorySections .row .cardsMetaBoxs .numberOfQuestions svg {
  margin-left: 2px;
}
.testsCategorySections .row .cardsMetaBoxs svg {
  display: block;
}

h3.titleOfCategory {
  border-bottom: 1px solid #9e9e9e;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
}

.site-header nav {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  background-color: #fff;
}
.site-header nav .nav-wrapper a {
  color: #000;
}

.testsSinglePageParent .linkToQuizButtonParent a.btn {
  background-color: #2e31a6 !important;
  border-radius: 8px;
}

.testsSinglePageParent .testsSingleSecUp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .testsSinglePageParent .testsSingleSecUp {
    gap: 15px;
  }
}
.testsSinglePageParent .testsSingleSecUp .detailSection {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .testsSinglePageParent .testsSingleSecUp .detailSection {
    width: 100%;
  }
}
.testsSinglePageParent .testsSingleSecUp .detailSection .numberOfQuestionsBox, .testsSinglePageParent .testsSingleSecUp .detailSection .timeQuizsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  width: -moz-max-content;
  width: 35%;
  padding: 10px 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .testsSinglePageParent .testsSingleSecUp .detailSection .numberOfQuestionsBox, .testsSinglePageParent .testsSingleSecUp .detailSection .timeQuizsBox {
    width: 100%;
  }
}
.testsSinglePageParent .testsSingleSecUp .detailSection .numberOfQuestionsBox .numberOfQuestionsCol1, .testsSinglePageParent .testsSingleSecUp .detailSection .numberOfQuestionsBox .timeQuizsCol1, .testsSinglePageParent .testsSingleSecUp .detailSection .timeQuizsBox .numberOfQuestionsCol1, .testsSinglePageParent .testsSingleSecUp .detailSection .timeQuizsBox .timeQuizsCol1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.testsSinglePageParent .testsSingleSecUp .detailSection .numberOfQuestionsBox .numberOfQuestionsCol1 p, .testsSinglePageParent .testsSingleSecUp .detailSection .numberOfQuestionsBox .timeQuizsCol1 p, .testsSinglePageParent .testsSingleSecUp .detailSection .timeQuizsBox .numberOfQuestionsCol1 p, .testsSinglePageParent .testsSingleSecUp .detailSection .timeQuizsBox .timeQuizsCol1 p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.testsSinglePageParent .testsSingleSecUp .detailSection .boxsParent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .testsSinglePageParent .testsSingleSecUp .detailSection .boxsParent {
    gap: 0;
  }
}
.testsSinglePageParent .testsSingleSecUp .detailSection .boxsParent svg {
  display: block;
}
.testsSinglePageParent .testsSingleSecUp .imageBoxTests {
  width: 35%;
}
@media screen and (max-width: 768px) {
  .testsSinglePageParent .testsSingleSecUp .imageBoxTests {
    width: 100%;
  }
}
.testsSinglePageParent .testsSingleSecUp .imageBoxTests img {
  border-radius: 10px;
}
.testsSinglePageParent .descriptionBoxTests .aboutTextTests p {
  text-align: justify;
}/*# sourceMappingURL=additional.css.map */