@import 'sass/breakpoints';
@import 'sass/source';

img{
    max-width: 100%;
    height: auto;
}
.testsSinglePageParent{
    .testsSingleSecUp{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include sm{
            gap: 15px;
        }
        .descriptionBoxTests {
            width: 50%;
            @include sm{
                width: 100%;
            }
            .aboutTextTests{
                p{
                    text-align: justify;
                }
            }
        }
        .imageBoxTests {
            width: 35%;
            @include sm{
                width: 100%;
            }
            img{
                border-radius: 10px;
            }
        }
    }
}
footer{
    .site-info{
        background-color: #2e31a6;
        padding-top: 50px;
        .mainFooter{
            a{
                padding-left: 10px;
            }
            h5{
                margin-bottom: 20px !important;
            }
            margin-bottom: 50px !important;
            .footerForm{
                
                display: flex;
                align-items: flex-start;
                input[type=email]{
                    background-color: #ffffffab;
                    border-radius: 10px;
                    border: 2px solid white;
                    padding: 0 15px;
                    &::placeholder{
                        color: white;

                    }
                }
                input[type=submit]{
                    margin-right: 35px;
                    height: 2.6rem;
                }
                span{
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                }
                .wpcf7-spinner{
                    display: none;
                }
                .wpcf7-not-valid-tip{
                    color: #ffffffb0;
                }
                input[type=email], select, textarea{
                    color: white;
                }
                
                textarea:focus, input:focus {
                    color: white;
                }
            }
            
        }
        .copyRight{
            border-top:1px solid #ffffffa1 ;
            padding: 15px 0;
            a{
                padding: 0 10px;
            }
        }
    }
}