@import 'sass/breakpoints';
@import 'sass/source';

img{
    max-width: 100%;
    height: auto;
}
footer{
    .site-info{
        background-color: #2e31a6;
        padding-top: 50px;
        .mainFooter{
            a{
                padding-left: 10px;
            }
            h5{
                margin-bottom: 20px !important;
            }
            margin-bottom: 50px !important;
            .footerForm{
                
                display: flex;
                align-items: flex-start;
                input[type=email]{
                    background-color: #ffffffab;
                    border-radius: 10px;
                    border: 2px solid white;
                    padding: 0 15px;
                    &::placeholder{
                        color: white;

                    }
                }
                input[type=submit]{
                    margin-right: 35px;
                    height: 2.6rem;
                }
                span{
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                }
                .wpcf7-spinner{
                    display: none;
                }
                .wpcf7-not-valid-tip{
                    color: #ffffffb0;
                }
                input[type=email], select, textarea{
                    color: white;
                }
                
                textarea:focus, input:focus {
                    color: white;
                }
            }
            
        }
        .copyRight{
            border-top:1px solid #ffffffa1 ;
            padding: 15px 0;
            a{
                padding: 0 10px;
            }
        }
    }
}
.comments-area{
    width: 75%;
    input[type=submit]{
        padding: 15px 25px;
        background-color: #2E31A6;
        color: white;
    }
    .comment-list{
        padding: 0;
        li{
            &::marker{
                content: none;
            }
        }
        img{
            border-radius: 50%;
        }
        
        .comment-meta , .comment-author{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        a{
            color: #2E31A6;
        }
    }
    .fn{
        margin-right: 8px;
    }
    .comment-reply-title{
        font-size: 24px;
        font-weight: 700;
    }
    .comment{
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        border-radius: 15px;
        padding: 0 25px;
        margin: 15px 0;
    }
    .comment-body{
        padding: 15px 0;
    }
    .depth-2{
        box-shadow: unset;
        padding: 0;
        border-radius: 0;
        border-top: 1px solid #00000033;
    }
    textarea{
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        border: none;
        border-radius: 15px;
    }
    input[type=text] , input[type=email]{
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        border: none;
        border-radius: 8px;
    }
    .comment-form-url,.says{
        display: none;
    }
    .comment-metadata{
        font-size: 12px;
    }
}